<mat-toolbar color="primary">
  <mat-toolbar-row>
      
  <mat-toolbar-row>
     <button mat-flat-button color="primary" mat-button-toggle value="bold">
    <mat-icon>home</mat-icon>
    </button> 
  </mat-toolbar-row>
  
    <mat-toolbar-row>
        <button mat-flat-button color="primary" mat-button-toggle value="bold"> ABOUT US</button>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <button mat-flat-button color="primary" mat-button-toggle value="bold">SERVICES</button>
    </mat-toolbar-row>
  
      <mat-toolbar-row>
          <button mat-flat-button color="primary" mat-button-toggle value="bold">PORTFOLIO</button>
      </mat-toolbar-row>
  
    <mat-toolbar-row>
        <button mat-flat-button color="primary" mat-button-toggle value="bold">TECHNOLOGY</button>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <button mat-flat-button color="primary" mat-button-toggle value="bold">BLOG</button>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <button mat-flat-button color="primary" mat-button-toggle value="bold">CONTACT US</button>
    </mat-toolbar-row>
    
  </mat-toolbar-row>
  </mat-toolbar>