<div class="container">
  <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>LIST OF THE EMPLOYEES</span>
      <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <app-employee-list></app-employee-list>
</div>